button {

    &.add-category {
        margin-top: 20px;
    }

    &.delete-category {
        border: none;
        background: transparent;
        cursor: pointer;
        opacity: .8;

        &:hover {
            opacity: 1;
        }
    }
}
