button {

    &.add-category {
        margin-top: 20px;
    }

    &.delete-category {
        border: none;
        background: transparent;
        cursor: pointer;
        opacity: .8;

        &:hover {
            opacity: 1;
        }
    }
}

.update-category-form {
    padding: 30px;
    background: $white;
    box-shadow: 0 0 60px transparentize($black, .9);
    border-radius: 10px;
    width: 700px;
}
