.product {

    &__hero-image {
        width: 100%;
        height: 430px;
        @include bg-center();
    }

    &__content-wrapper {
        background: lighten($gray, 7%);
        padding: 20px;
        width: calc(100% - 40px);
        margin-top: 30px;
    }

    &__content-group {
        margin-top: 20px;

        h2, p {
            margin: 0;
        }
    }

    .back-button {
        margin-bottom: 30px;
        align-items: center;
        color: $black;

        img {
            width: 45px;
            margin-right: 12px;
        }

    }
}
