.mt-20 {
    margin-top: 30px;
}

.wrapper {
    margin: auto;
    width: 900px;

    .form-wrapper {
        grid-template-columns: 1.5fr 1fr;
    }

    .input-group {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        margin-top: 10px;
        position: relative;

        .currency {
            position: absolute;
            left: 15px;
            top: 43%;
            transform: translateY(-50%);
            color: $tertiary;
            opacity: .7;
            transition: .3s;
        }

        input {
            margin-top: 5px;
            width: calc(100% - 24px);
            padding: 12px;

            &:focus ~ .currency {
                opacity: 1;
                color: $black;
            }

            &#product-price {
                padding-left: 30px;
                width: calc(100% - 46px);
            }
        }

        select {
            padding: 12px;
            margin-top: 5px;
        }

        textarea {
            height: 200px;
            min-height: 200px;
            margin-top: 5px;
            width: calc(100% - 24px);
            padding: 12px;
            resize: vertical;
        }

        input, textarea, select {
            outline: none;
            border: 2px solid $tertiary;
        }
    }

    .view-product-image {
        width: calc(100% - 4px);
        height: 348px;
        margin: 32px 0 20px;
        border: 2px solid $tertiary;
    }
}

.view-product-image {
    width: calc(100% - 4px);
    height: 348px;
    margin: 32px 0 20px;
    border: 2px solid $tertiary;
}

.image-selector {
    @include width(24px);
    background: $gray;
    margin: 20px 0;
    height: 230px;
    position: relative;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .large-text, .normal-text {
        opacity: .7;
    }

    .border {
        border: 2px dashed rgba(112, 112, 112, .6);
        padding: 20px;
        position: absolute;
        top: 24px;
        left: 24px;
        right: 24px;
        bottom: 24px;
    }
}
