#nav {
    display: flex;
    flex-flow: column;
    border-right: 2px solid rgba(112, 112, 112, 0.2);
    float: left;
    background: $white;
    height: 100vh;
    width: 300px;
    position: fixed;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        padding: 20px;
        display: block;
        text-decoration: none;
        color: #000;

        &.current-page {
            background: $gray;
        }

        &:hover {
            background: $gray;
        }
    }
}
