@import url(https://fonts.googleapis.com/css?family=Nunito);a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  padding: 0.38em 0;
}

.large-text {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

.large-text,
.normal-text {
  font-family: Arial, "sans-serif";
}

/**

padding: 20px
width: calc(100% - 40px)
 */

.buttons {
  margin-top: 20px;
}

.buttons div a:nth-child(2) {
  margin-left: 20px;
}

.button {
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
}

.button--primary {
  background: #60BCC1;
  color: #FFFFFF;
}

.button--primary:hover {
  background: #4eb4ba;
}

.button--danger {
  background: #DFA248;
  color: #FFFFFF;
}

.button--danger:hover {
  background: #db9732;
}

.button--error {
  background: #D72E2E;
  color: #FFFFFF;
}

.button--error:hover {
  background: #c62626;
}

#nav {
  display: flex;
  flex-flow: column;
  border-right: 2px solid rgba(112, 112, 112, 0.2);
  float: left;
  background: #FFFFFF;
  height: 100vh;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav a {
  padding: 20px;
  display: block;
  text-decoration: none;
  color: #000;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.g-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.space-between {
  justify-content: space-between;
}

.mt-20 {
  margin-top: 30px;
}

.wrapper {
  margin: auto;
  width: 900px;
}

.wrapper .form-wrapper {
  grid-template-columns: 1.5fr 1fr;
}

.wrapper .input-group {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 10px;
  position: relative;
}

.wrapper .input-group .currency {
  position: absolute;
  left: 15px;
  top: 43%;
  transform: translateY(-50%);
  color: #3C888D;
  opacity: 0.7;
  transition: 0.3s;
}

.wrapper .input-group input {
  margin-top: 5px;
  width: calc(100% - 24px);
  padding: 12px;
}

.wrapper .input-group input:focus ~ .currency {
  opacity: 1;
  color: #131212;
}

.wrapper .input-group input#product-price {
  padding-left: 30px;
  width: calc(100% - 46px);
}

.wrapper .input-group select {
  padding: 12px;
  margin-top: 5px;
}

.wrapper .input-group textarea {
  height: 200px;
  min-height: 200px;
  margin-top: 5px;
  width: calc(100% - 24px);
  padding: 12px;
  resize: vertical;
}

.wrapper .input-group input,
.wrapper .input-group textarea,
.wrapper .input-group select {
  outline: none;
  border: 2px solid #3C888D;
}

.wrapper .view-product-image {
  width: calc(100% - 4px);
  height: 348px;
  margin: 32px 0 20px;
  border: 2px solid #3C888D;
}

.view-product-image {
  width: calc(100% - 4px);
  height: 348px;
  margin: 32px 0 20px;
  border: 2px solid #3C888D;
}

.image-selector {
  padding: 24px;
  width: calc(100% - (24px * 2));
  height: 230px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.image-selector canvas {
  background: #D4D4D4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.image-selector .large-text,
.image-selector .normal-text {
  opacity: 0.7;
}

.image-selector .border {
  border: 2px dashed rgba(112, 112, 112, 0.6);
  padding: 20px;
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
}

button.add-category {
  margin-top: 20px;
}

button.delete-category {
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.8;
}

button.delete-category:hover {
  opacity: 1;
}

.categories {
  margin-top: 30px;
}

.categories .category {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 2px solid #D4D4D4;
  border-radius: 10px;
}

.categories .category .category-image-wrapper {
  height: 150px;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-size: cover !important;
  background-position: center !important;
}

.categories .category a {
  margin-left: 10px;
  opacity: 0.8;
}

.categories .category a img {
  width: 16px;
}

.categories .category a img:nth-child(2) {
  width: 18px;
}

.categories .category a:hover {
  opacity: 1;
}

.categories .category .options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

body {
  font-family: arial, "sans-serif";
  margin: 0;
}

