@import url(https://fonts.googleapis.com/css?family=Nunito);h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  padding: 0.38em 0;
}

.page-heading {
  font-size: 50px;
}

.large-text {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

.large-text,
.normal-text {
  font-family: Arial, "sans-serif";
}

.text-align-center {
  text-align: center;
}

.error {
  color: #D72E2E;
}

.op-10 {
  opacity: 0.1;
}

.op-20 {
  opacity: 0.2;
}

.op-30 {
  opacity: 0.3;
}

.op-40 {
  opacity: 0.4;
}

.op-50 {
  opacity: 0.5;
}

.op-60 {
  opacity: 0.6;
}

.op-70 {
  opacity: 0.7;
}

.op-80 {
  opacity: 0.8;
}

.op-90 {
  opacity: 0.9;
}

.op-100 {
  opacity: 1;
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.p-30 {
  padding: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.p-40 {
  padding: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.p-50 {
  padding: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.p-60 {
  padding: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.p-70 {
  padding: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pl-70 {
  padding-left: 70px;
}

.p-80 {
  padding: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.p-90 {
  padding: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pr-90 {
  padding-right: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pl-90 {
  padding-left: 90px;
}

.p-100 {
  padding: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.m-30 {
  margin: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.m-40 {
  margin: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.m-50 {
  margin: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.m-60 {
  margin: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.m-70 {
  margin: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.ml-70 {
  margin-left: 70px;
}

.m-80 {
  margin: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.m-90 {
  margin: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.ml-90 {
  margin-left: 90px;
}

.m-100 {
  margin: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-100 {
  margin-left: 100px;
}

body {
  font-family: arial, "sans-serif";
  margin: 0;
  background: #FBFBFB;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  margin: auto;
  width: 1140px;
}

.buttons {
  margin-top: 20px;
}

.buttons div a:nth-child(2) {
  margin-left: 20px;
}

.button {
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
}

.button--primary {
  background: #60BCC1;
  color: #FFFFFF;
}

.button--primary:hover {
  background: #4eb4ba;
}

.button--danger {
  background: #DFA248;
  color: #FFFFFF;
}

.button--danger:hover {
  background: #db9732;
}

.button--error {
  background: #D72E2E;
  color: #FFFFFF;
}

.button--error:hover {
  background: #c62626;
}

#nav {
  display: flex;
  flex-flow: column;
  border-right: 2px solid rgba(112, 112, 112, 0.2);
  float: left;
  background: #FFFFFF;
  height: 100vh;
  width: 300px;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav a {
  padding: 20px;
  display: block;
  text-decoration: none;
  color: #000;
}

#nav a.current-page {
  background: #D4D4D4;
}

#nav a:hover {
  background: #D4D4D4;
}

.form-wrapper {
  grid-template-columns: 1.5fr 1fr;
}

#allergies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.input-group {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 10px;
  position: relative;
}

.input-group .currency {
  position: absolute;
  left: 15px;
  top: 66%;
  transform: translateY(-50%);
  color: #3C888D;
  opacity: 0.7;
  transition: 0.3s;
}

.input-group input {
  margin-top: 5px;
  width: calc(100% - 24px);
  padding: 12px;
}

.input-group input:focus ~ .currency {
  opacity: 1;
  color: #131212;
}

.input-group input#product-price {
  padding-left: 30px;
  width: calc(100% - 46px);
}

.input-group select {
  padding: 12px;
  margin-top: 5px;
}

.input-group textarea {
  height: 200px;
  min-height: 200px;
  margin-top: 5px;
  width: calc(100% - 24px);
  padding: 12px;
  resize: vertical;
}

.input-group input,
.input-group textarea,
.input-group select {
  outline: none;
  border: 2px solid #3C888D;
}

.view-product-image {
  width: calc(100% - 4px);
  height: 348px;
  margin: 32px 0 20px;
  border: 2px solid #3C888D;
}

.view-product-image {
  width: calc(100% - 4px);
  height: 348px;
  margin: 32px 0 20px;
  border: 2px solid #3C888D;
}

.image-selector {
  padding: 24px;
  width: calc(100% - (24px * 2));
  height: 230px;
  position: relative;
  overflow: hidden;
  background: #D4D4D4;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.image-selector #displayImage {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  position: absolute;
  z-index: 1;
}

.image-selector .large-text,
.image-selector .normal-text {
  opacity: 0.7;
}

.image-selector .border {
  border: 2px dashed rgba(112, 112, 112, 0.6);
  padding: 20px;
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
}

.cards-wrapper {
  margin-top: 30px;
}

.card {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 2px solid #D4D4D4;
  border-radius: 10px;
}

.card .card-image-wrapper {
  height: 150px;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-size: cover !important;
  background-position: center !important;
}

.card a {
  color: #131212;
}

.card .options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.card .options a {
  opacity: 0.8;
}

.card .options a img {
  width: 16px;
}

.card .options a img:nth-child(2) {
  width: 18px;
}

.card .options a:hover {
  opacity: 1;
}

.overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay--light {
  background: rgba(255, 255, 255, 0.9);
}

.checkbox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.checkbox__input:checked ~ label span {
  background: #3C888D;
}

.checkbox__checkbox-element {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.checkbox__box {
  margin-right: 10px;
  border: 2px solid #3C888D;
  padding: 8px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-flex-end {
  align-items: flex-end;
}

.grid {
  display: grid;
}

.g-col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.g-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.g-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.g-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.g-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.g-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.g-col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.g-col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.g-col-9 {
  grid-template-columns: repeat(9, 1fr);
}

.g-col-10 {
  grid-template-columns: repeat(10, 1fr);
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-60 {
  gap: 60px;
}

.gap-70 {
  gap: 70px;
}

.gap-80 {
  gap: 80px;
}

.gap-90 {
  gap: 90px;
}

.gap-100 {
  gap: 100px;
}

.gap-110 {
  gap: 110px;
}

.gap-120 {
  gap: 120px;
}

.gap-130 {
  gap: 130px;
}

.gap-140 {
  gap: 140px;
}

.gap-150 {
  gap: 150px;
}

.gap-160 {
  gap: 160px;
}

.justify-self-start {
  justify-self: start;
}

button.add-category {
  margin-top: 20px;
}

button.delete-category {
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.8;
}

button.delete-category:hover {
  opacity: 1;
}

.update-category-form {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0 0 60px rgba(19, 18, 18, 0.1);
  border-radius: 10px;
  width: 700px;
}

