.grid {
  display: grid;
}

// Grid column templates
@for $i from 1 through 10 {
    .g-col-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
    }
}

// Grid gap
@for $i from 1 through 16 {
    .gap-#{$i}0 {
        gap: #{$i}0px;
    }
}

// spacing
.justify-self-start {
    justify-self: start;
}
