$primary: #60BCC1;
$secondary: #50D1D9;
$tertiary: #3C888D;

$success: #38C87A;
$danger: #DFA248;
$error: #D72E2E;

$gray: #D4D4D4;
$black: #131212;
$white: #FFFFFF;
$green: #11494D;

a {
  display: inline-block;
  text-decoration: none;
}
